<div class="card shadow-card  mt-3 mb-3">
    <div class="card-header">
        Lista de Usuarios
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <input
                    class="form form-control form-control-sm"
                    placeholder="Buscar..."
                    type="text"
                    [(ngModel)]="searchUsuario"
                    name="filterCharacter"
                >
            </div>
            <div class="col-md-6">
                <button class="btn btn-sm btn-info" (click)="cleanFilter()">Limpiar</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-12">
                <pre>
                  <table class="table table-responsive table-striped table-hover">
                      <thead>
                          <tr class="text-center">
                              <!-- <th>ID</th> -->
                              <th>Nombres</th>
                              <th>Apellidos</th>
                              <th>Cédula</th>
                              <th>Email</th>
                              <th>País</th>
                              <th>Dirección</th>
                              <th>Celular</th>
                              <th>Categoria</th>
                              <th>Editar</th>
                              <th>Eliminar</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr class="text-center" *ngFor="let usuario of usuarios | filtroUsuario:searchUsuario">
                              <td>{{usuario.nombres}}</td>
                              <td>{{usuario.apellidos}}</td>
                              <td>{{usuario.cedula}}</td>
                              <td>{{usuario.email}}</td>
                              <td>{{usuario.pais}}</td>
                              <td>{{usuario.direccion}}</td>
                              <td>{{usuario.celular}}</td>
                              <td>{{usuario.get_categoria.categoria}}</td>
                              <td><button class="btn btn-sm btn-rounded btn-primary" routerLink="/editar-usuario/{{usuario.id}}">Editar</button></td>
                              <td><button class="btn btn-sm btn-rounded btn-danger" (click)="removerUsuario(usuario.id)">Eliminar</button></td>
                          </tr>
                      </tbody>
                  </table>
                </pre>
            </div>
        </div>
    </div>
    <div class="card-footer">
      <div class="row text-center">
        <div class="col-sm-12">
          <button class="btn btn-sm btn-primary" routerLink="/crear-usuario">Registrar Usuario</button>
        </div>
      </div>
    </div>
</div>
